<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/about'}) %>
  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Everything you want to know about me - Divya the Developer!</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="https://educationsnapshots.com/wp-content/uploads/sites/4/2022/01/seneca-college-newnham-campus-food-hall-3-700x467-compact.jpg"
          alt="profile" />

      </div>
      <div class="prose">

        <p>My name is Divya Rana and I'm currently studying at Seneca Polytechnic.</p>

        <p>I am genuinely passionate about the dynamic and ever-evolving world of technology. As a budding professional in the tech industry, I find joy in navigating through lines of code, solving complex problems, and embracing the continuous learning journey that this field offers. Beyond the screen, I'm someone who believes in a holistic approach to life. When I'm not immersed in the digital realm, you'll likely find me engaging in diverse activities. Cooking and baking are not just pastimes for me; they're my creative outlets. Experimenting with flavors and techniques in the kitchen brings me immense joy and allows me to unwind. Join me on this exciting journey where technology meets creativity, and let's explore the endless possibilities together!

        </p>

      </div>

    </div>

  </div>
</body>

</html>